
footer
    background-image: linear-gradient(to right, rgba(30, 58, 211, 0.07), rgba(57, 181, 176, 0.07))
    padding: 40px 0px 40px 60px
    display: flex
    flex-wrap: wrap
    font-size: 16px
    line-height: 1.2
    color: #525252
    .logo
        a
            color: #000
            font-size: 20px
    h3
        text-align: center
        font-size: 20px
        color: #000000
    .col-4
        padding-left: 0
        padding-right: 40px
    .footer-nav
        display: flex
        flex-wrap: wrap
        li
            width: 50%
            margin-bottom: 10px
            a
                color: #686464
                font-size: 14px
            &.active, &:hover
                a
                    color: #39b5b0
    .address
        color: #686464
        font-size: 14px
        padding-left: 30px
        margin-bottom: 10px
        background-image: url("../img/icons/address-icom.svg")
        background-repeat: no-repeat
        background-size: 16px
        background-position: left
    .email
        color: #686464
        font-size: 14px
        display: block
        padding-left: 30px
        margin-bottom: 10px
        background-image: url("../img/mail.png")
        background-repeat: no-repeat
        background-size: 16px
        background-position: left
    .tel
        color: #686464
        font-size: 14px
        display: block
        padding-left: 30px
        margin-bottom: 10px
        background-image: url("../img/phone.png")
        background-repeat: no-repeat
        background-size: 12px
        background-position: 3px center

    .social
        width: 100%
        text-align: center
        margin-top: 20px
        li
            height: 20px
            margin: 0 5px
            img
                height: 20px

    @media (max-width: 920px)
        .footer-nav
            li
                width: 100%
    @media (max-width: 680px)
        .col-4
            flex-basis: 100%
            max-width: 100%
            margin-bottom: 10px
        h3
            text-align: left
        .social
            text-align: left