@import "vars"


/*==========  Desktop First  ==========*/



// ≥1200px
+media-breakpoint-down(lg)

  .header
    .communic-left
      display: block
    .communic-right
      margin-left: 0
      text-align: left
      display: inline-block


// ≥992px
+media-breakpoint-down(md)
  .h2__bottom-border
    font-size: 30px
  .header
    .header__communic
      padding-top: 5px
      .communic-right
        margin-left: 93px
        text-align: left
        display: inline-block
  .section__1
    .section__1-middle
      height: 570px
      padding: 160px 0 0 30px
      img
        height: 500px

  .section__2
    .section__2-items
      flex-direction: column
      .item__1
        order: 1
        padding: 0
        margin-top: 20px
        p
          font-size: 15px
          &:first-child
            font-size: 16px
      .item__2
        order: 0
        margin: 0 auto
        .item__img-right
          display: block
          max-width: 100%
          height: auto
      .section__3
        &-items
          justify-content: space-around


// ≥768px
+media-breakpoint-down(sm)
    .h2__bottom-border
      font-size: 18px
    .header__communic
      svg
        margin-right: 15px
    .header
      .communic-left
        li
          margin-right: 70px
      .communic-right
        margin-left: 105px
        text-align: left
        display: inline-block
        li
          margin-right: 0
    .header__mnu
      li
        margin-right: 8px
        a
          font-size: 15px

    .section__1
      .section__1-middle
        height: 470px
        padding: 140px 0 0 30px
        .section__1-text
          h2
            font-size: 30px
          p
            font-size: 15px
        img
          height: 360px

    .section__2
      .section__2-items
        flex-direction: column
        .item__1
          order: 1
          padding: 0
          margin-top: 20px
          p
            font-size: 13px
            &:first-child
              font-size: 14px
        .item__2
          order: 0
          margin: 0 auto
          .item__img-right
            display: block
            max-width: 100%
            height: auto
    .section__3
      &-items
        justify-content: center
        p
          font-size: 13px
          padding: 19px

// ≥576px
+media-breakpoint-down(xs)
  .h2__bottom-border
    font-size: 17px
  .header
    &__mnu
      flex-direction: column
      li
        margin-right: 5px
        a
          font-size: 14px
    &__wrapper
      padding: 0
    .header__communic
      flex-direction: column
      align-items: flex-start
      .communic-left
        font-size: 13px
        width: 100%
        li
          display: block
          margin-right: 0

      .communic-right
        margin: 0
        text-align: center
        display: block
        li
          margin-right: 0
          display: inline-block
  .section__1
    .section__1-middle
      height: auto
      text-align: center
      padding: 20px 0
      .section__1-text
        width: 100%
        h2
          font-size: 18px
        p
          font-size: 14px
          width: 100%
          padding: 0 30px
      img
        height: 110px
      .btn
        margin: 0 auto
        width: 151px
        height: 37px
        line-height: 30px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)
  //.header
  //  .communic-left
  //    li
  //      margin-right: 70px
  //  .communic-right
  //    margin-left: 105px
  //    li
  //      margin-right: 0
  //






// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
