
.services-page
    .section-top
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        padding: 20px 0
        font-family: HelveticaNeue
        font-size: 18px
        font-weight: 500
        color: #ffffff
        line-height: 1.2
        min-height: 350px
        display: flex
        align-items: center
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background-image: linear-gradient(to right, #3a337c, #3ec9c4 0%, #1e3ad3 0%, rgba(34, 74, 206, 0.92) 12%, rgba(57, 181, 176, 0.42) 91%, rgba(57, 181, 176, 0.97))
        .content
            max-width: 380px
            margin: auto
            position: relative
        h2
            font-family: Futura
            font-size: 36px
            margin-bottom: 42px
            &:only-child
                margin-bottom: 0
        @media (max-width: 576px)
            padding: 60px 0
            h2
                font-size: 26px
                margin-bottom: 20px
            p
                font-size: 16px
    .section-main
        padding-top: 40px
        .block-text
            max-width: 746px
            margin: 0 auto 26px
            font-family: HelveticaNeue
            font-size: 18px
            font-weight: 500
            color: #000000
        h2
            font-size: 36px
            font-family: 'FuturaBold', sans-serif
            color: #3c4047
            display: inline-block
            &:after
                width: 70%
                max-width: 200px
        .list-services
            display: flex
            flex-wrap: wrap
            justify-content: center
        .item-services
            width: calc(33.33% - 50px)
            margin: 0 25px 60px
            box-shadow: 0 2px 4px 0 #39b5b0
            text-align: center
            .image-holder
                height: 255px
                position: relative
                &:before
                    content: ""
                    position: absolute
                    top: 0
                    right: 0
                    bottom: 0
                    left: 0
                    background-color: rgba(69, 176, 179, 0.26)
                    transition: 0.25s
            a:hover
                .image-holder:before
                    opacity: 0
                    transition: 0.25s
            .name-servises
                font-family: HelveticaNeue
                font-size: 18px
                font-weight: 500
                color: #000000
                padding: 3px 6px
                display: block

        @media (max-width: 920px)
            .item-services
                width: calc(33.33% - 20px)
                margin: 0 10px 60px
                .image-holder
                    height: 220px
        @media (max-width: 768px)
            .list-services
                margin-bottom: 20px
            .item-services
                margin: 0 10px 20px
                .image-holder
                    height: 200px
        @media (max-width: 576px)
            .item-services
                width: calc(50% - 20px)
        @media (max-width: 400px)
            .item-services
            width: 100%