.service-page
    padding: 0 47px
    .section-top
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        padding: 85px 0
        font-family: HelveticaNeue
        font-size: 18px
        font-weight: 500
        color: #ffffff
        line-height: 1.2
        min-height: 350px
        display: flex
        align-items: center
        position: relative
        &:before
            content: ""
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            background-color: rgba(69, 176, 179, 0.3)
        .content
            max-width: 380px
            margin: auto
            position: relative
        h2
            font-family: Futura
            font-size: 36px
            margin-bottom: 42px
            &:only-child
                margin-bottom: 0
    .section-tab-list
        padding: 32px 40px 0
        display: flex
        flex-wrap: wrap
        h3
            font-family: Futura
            font-size: 24px
            margin-bottom: 21px
        .tab-wrap
            width: 40%
            max-width: 278px
            margin-bottom: 85px
        .tab-list
            display: flex
            flex-direction: column
        .tab-item
            box-shadow: 0 2px 4px 0 #39b5b0
            font-size: 20px
            font-weight: 500
            color: #4a4a4a
            padding-right: 5px
            margin-bottom: 10px
            border-radius: 4px
            border: 1px solid #4a70c0
            cursor: pointer
            .icon
                height: 42px
                width: 60px
                display: inline-block
                vertical-align: middle
                background-size: 220px
                background-repeat: no-repeat
            span
                color: #4a4a4a
                vertical-align: middle
            &.active, &:hover
                background-color: #39b5b0
                color: #ffffff
                span
                    color: #ffffff

        .tab-list-content
            width: calc(100% - 278px)
            padding-left: 86px
            font-family: HelveticaNeue
            font-size: 18px
            color: #000000
            margin-bottom: 85px
            h3
                font-family: HelveticaNeue
                font-size: 24px
                font-weight: 500
                color: #4a70c0
        .tab-item-content
            display: none
            opacity: 0
            &.active
                display: block
                opacity: 1
    .section-slider, .section-deck-text
        background-image: linear-gradient(to right, rgba(30, 58, 211, 0.07), rgba(57, 181, 176, 0.07))
    .section-slider
        padding-bottom: 80px
    .slider-servises
        margin: 0 40px
        //width: 100%
        .swiper-slide
            height: 225px
        .swiper-button-next, .swiper-button-prev
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%2339b5b0'%2F%3E%3C%2Fsvg%3E")
            right: 20px
            left: auto
            background-size: 11px
            background-color: #ffffff
            border: 2px solid #39b5b0
            border-radius: 50%
            width: 32px
            height: 32px
        .swiper-button-prev
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%2339b5b0'%2F%3E%3C%2Fsvg%3E")
            right: auto
            left: 20px
    .servises-text
        display: flex
        justify-content: center
        padding-bottom: 75px
        padding-left: 40px
        padding-right: 40px
        .image-holder
            box-shadow: 0 2px 8px 0 #39b5b0
            //height: 255px
            width: 50%
            max-width: 384px
        .block-text
            width: 45%
            margin-left: 50px
            h4
                font-family: HelveticaNeue
                font-size: 18px
                font-weight: 500
                color: #000000
                line-height: 1.2
            li
                font-family: HelveticaNeue
                font-size: 18px
                color: #000000
                display: block
                margin-bottom: 6px
                padding-left: 30px
                background-image: url("../img/icons/check-mark-icon.svg")
                background-position: left
                background-repeat: no-repeat
                background-size: 18px

    @media (max-width: 860px)
        .section-tab-list
            .tab-list-content
                line-height: 1.3
                width: 100%
                padding-left: 0
                margin-bottom: 60px
            .tab-wrap
                max-width: 100%
                width: 100%
                margin-bottom: 25px
            .tab-list
                flex-direction: row
                flex-wrap: wrap
                justify-content: space-evenly
            .tab-item

                margin: 0 5px 10px

        .servises-text
            flex-wrap: wrap
            padding-bottom: 45px
            .image-holder
                width: 100%
                margin-bottom: 30px
            .block-text
                width: 100%
                margin-left: 0

