@import "vars"
@import "fonts"
@import "libs"
@import "footer"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

*
    transition: 0.25s

body
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
.container
    max-width: 1024px!important
    width: 100%
    margin: auto
.btn
  width: 197px
  height: 46px
  background-color: $accent
  border: 2px solid #ffffff
  border-radius: 50px
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: #ffffff
  text-decoration: none
  font-size: 18px
  font-family: 'Futura', sans-serif
  &:hover
    color: #ffffff
    text-decoration: none
.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
.image-holder
    overflow: hidden
    position: relative
    text-align: center
    vertical-align: middle
    img
        object-fit: cover
        vertical-align: middle
        height: 100%
        width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


.strong
  font-weight: bold

.wrapper
  padding: 0 26.5px


.__bottom-border
  text-align: center
  margin-bottom: 70px
  z-index: 99999
  &:after
    content: ''
    background: linear-gradient(to right, #1a2fd4, #53a0fd 48%, #30bd84)
    height: 2px
    width: 30%
    display: block
    margin: 0 auto
    z-index: 99999


ul
  margin: 0
  padding: 0
  li
    display: inline-block
    text-decoration: none
    a
      text-decoration: none
      color: black
      &:hover
        color: #000
        text-decoration: none



.header
  &__communic
    border-bottom: 2px solid
    border-image-source: linear-gradient(to right, #1a2fd4, #53a0fd 48%, #30bd84)
    border-image-slice: 1
    //height: 40px
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    align-items: center
    margin-bottom: 25px
    svg
      width: 20px
      height: 26px
      vertical-align: middle
      fill: #39b5b0
      margin-right: 10px

  .communic-left, .communic-right
    display: inline-block
  .communic-left
    a
      color: #686464
    img
      margin-right: 19px
      vertical-align: center
    li
      margin-right: 40px
      &:last-child
        margin-right: 0
  .communic-right
    margin-left: 55px
    li
      margin-right: 7px
      &:last-child
        margin-right: 0
      img
        margin-right: 0

  &__mnu
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    padding: 0 10px
    align-items: center
    vertical-align: center
    margin-bottom: 34px
    li
      margin-right: 35px
      //&:last-child
      //  margin-right: 0
      a
        font-size: 18px
        font-family: 'FuturaBold', sans-serif
        color: #4a70c0
        &:hover
          color: #4a70c0
    .logo
      h1
        font-size: 18px
        a
          text-decoration: none
          color: #000
          &:hover
            color: #4a70c0
.section__1
  .section__1-middle
    height: 630px
    padding: 180px 0 0 90px
    background-image: url(../img/bg_slider.png)
    -webkit-background-size: cover
    background-size: cover
    position: relative
  .section__1-text
    display: inline-block
    color: #fff
    h2
      font-family: 'FuturaBold', sans-serif
      font-size: 36px
    p
      font-size: 18px
      width: 365px
      margin-bottom: 100px
      line-height: 1.2
  .section__1-img
    position: absolute
    bottom: 0
    right: 0
    height: 606px



  ////SECTION__2////

.section__2
  padding: 30px 0
  &-items
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    .item__1
      padding-right: 55px
      &__text-left
        display: inline-block
      p
        font-size: 18px
        line-height: 1.22
        &:first-child
          font-size: 20px
    .item__2
      img
        display: inline-block
        width: 384px
        height: auto
        box-shadow: 0 0 15px -3px rgba(57,181,176,1)


  ///SECTION__3////

.section__3
  .wrap
    background-color: #e1f1ff
    padding: 30px 0
  .h2__bottom-border
    margin-bottom: 150px
  &-items
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    .item
      width: 29%
      min-width: 282px
      display: inline-block
      position: relative
      margin-bottom: 140px
      &__img-border
        background-image: url(../img/services_2.svg)
        background-size: 450px
        background-color: #fff
        width: 117px
        height: 117px
        border: 3px solid #4a70c0
        border-radius: 50%
        position: absolute
        z-index: 1
        top: -77px
        left: 50%
        margin-left: -56px
        overflow: hidden
        p
          overflow: hidden
      &__wrap-border
        position: relative
        text-align: center
        border: 1px solid #4a70c0
        box-shadow: 0 0 15px -3px rgba(57,181,176,1)
        overflow: hidden
        h3
          margin-top: 40px

        p
          margin: 0
          padding: 17px
          overflow: hidden

  ///SECTION__4////

.section__4
  .wrap
    background-image: url(../img/section_4-bg.jpg)
    -webkit-background-size:
    background-size: cover
    color: #ffffff
    height: 425px
    padding: 40px 0
    position: relative
    z-index: 10
    &:after
      content: ''
      position: absolute
      background: linear-gradient(to right, #1a2fd4, #53a0fd 48%, #30bd84)
      width: 100%
      height: 100%
      top: 0
      opacity: .4
      z-index: -1
    .inside
      padding: 50px 0 0 94px
      width: 53%
      z-index: 9999
      h2
        font-size: 36px
        font-family: 'FuturaBold', sans-serif
        line-height: 1.2
        margin-bottom: 20px
      p
        font-size: 20px
        line-height: 1.2
        margin-bottom: 30px
        font-family: 'HelveticaNeue', sans-serif
      .btn
        font-size: 20px
        font-family: 'HelveticaNeue', sans-serif

  ///SECTION__5///

.section__5
  .wrap
    padding: 30px 0
    background-image: url('../img/rewiws_bg.jpg')
    -webkit-background-size: cover
    background-size: inherit
    position: relative
    z-index: 0
    background-position: -137px -24px
    &:after
      content: ''
      position: absolute
      background: white
      width: 100%
      height: 100%
      top: 0
      opacity: .8
      z-index: -1
    .marks__carousel-after
      position: relative
      width: 430px

      .item
        width: 430px
        font-size: 18px
        margin-right: 30px
        line-height: 1.2
        padding-bottom: 100px
        .name
          position: absolute
          bottom: -10px
          right: 70px
          width: 120px
      .owl-nav
        .owl-prev, .owl-next
          position: absolute
          font-size: 40px
          outline: transparent
        .owl-prev
          top: 0
          left: -30px
        .owl-next
          top: 0
          right: -30px
      .owl-dots
        position: relative
        display: inline-block
        margin: 20px 0 0 220px
        .owl-dot
          width: 10px
          height: 10px
          margin-right: 5px
          border-radius: 50%
          border: 1px solid rgba(74, 74, 74, 0.8)
          background-color: #fff
          &.active
            background-color: $accent
            border: 1px solid transparent



@import "services.sass"
@import "service.sass"

@import "media" // Always at the end
